- name: Install ZSH
  become: true
  ansible.builtin.package:
    name: zsh
    state: present

- name: Install Oh My Zsh # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "{{ ansible_user_dir }}/.oh-my-zsh"
    depth: 1

- name: Install zsh-autosuggestions plugin # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    depth: 1

- name: Install zsh-completions plugin # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-completions
    dest: "{{ ansible_user_dir }}.oh-my-zsh/custom/plugins/zsh-completions"
    depth: 1

- name: Install zsh-syntax-highlighting plugin # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: "{{ ansible_user_dir}}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    depth: 1

- name: Change user shell to zsh
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh

- name: Install Powerline10k theme # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: ~/.oh-my-zsh/custom/themes/powerlevel10k
    depth: 1

- name: "Link .zshrc"
  ansible.builtin.file:
    src: "zshrc"
    dest: "{{ ansible_user_dir }}/.zshrc"
    state: link
    force: true

- name: "Link .profile"
  ansible.builtin.file:
    src: "profile"
    dest: "{{ ansible_user_dir }}/.profile"
    state: link
    force: true

- name: "Link .p10k.zsh"
  ansible.builtin.file:
    src: "p10k.zsh"
    dest: "{{ ansible_user_dir }}/.p10k.zsh"
    state: link
    force: true
