[user]
    email = fabricio.tuosto@gmail.com
    name = Fabricio Tuosto
[commit]
    gpgsign = true
[pull]
    rebase = true
[rerere]
	enabled = true
	autoupdate = true
[fetch]
    prune = true
[status]
    short = true
[init]
	defaultBranch = main
[color]
    ui = auto
